.curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(90deg);
}

.curve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 191px;
}

.curve .shape-fill {
  fill: #ffffff;
}
