body {
  box-sizing: border-box !important;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: #f2f2f2 !important;
}

.landing {
  background: url(book.svg);
  height: 100vh !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.text-landing {
  font-size: larger !important;
  margin-top: -50px !important;
  margin-bottom: 50px !important;
}

.left-section {
  padding: 45px 0px 0px 100px !important;
}

.logo {
  width: 400px !important;
  height: auto !important;
}

.btn-group {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.radius {
  border-radius: 3px !important;
  margin-right: 20px !important;
  border: none !important;
  height: 40px !important;
  cursor: pointer !important;
}

.ws {
  width: 155px !important;
}

.auto {
  width: 100% !important;
  border-radius: 3px !important;
  margin-right: 20px !important;
  border: none !important;
  height: 35px !important;
  cursor: pointer !important;
}

.btn-login {
  background-color: #cdcdcd;
  color: black;
}

.btn-reg {
  background-color: #d60000;
  color: white;
}

.p-e {
  cursor: pointer;
}
